<p id="notice"><%= notice %></p>

<h1>Members</h1>
<% if session[:token].nil? %>
<%= "hambo2a"%>
<%end%>
<%= session[:token] %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member.each do |member| %>
      <tr>

        <td><%= member.email %></td>
        <td><%= member.role  %></td>
        <td><%= member.ep  %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'sign out' , destroy_user_session_path,method: :delete %>
<%= link_to 'get managers', new_ogv_path %>
<%= link_to '  my eps' , dash_board_index_path %>
<%= link_to ' All eps' , ep_display_path %>
<%= link_to ' members' , user_index_path %>
<%= link_to 'opportunities', opp_path %>
