<h1>YOUR EPS</h1>
<%= @mailo %>
<%= link_to 'open source' , openSource_display_path %>
<% @manago['data'].each do |ep| %>

<div class="person">
  <span><%= ep['full_name'] %></span>
  <span><%= ep['phone'] %></span>
  <span><%= ep['status'] %></span>
  <%if ep['status'] != 'open'%>
  <span><%= link_to 'applications', controller:'myep' ,action:'new',ep_id: ep['id']  %></span>
  <%else%>
  <span><%= link_to 'assign ep', controller:'myep' ,action:'assign',ep_id: ep['id'] %></span>
  <%end%>
</div>

<% end %>
